/* @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
/* @import url(https://db.onlinewebfonts.com/c/c4d8819fda4c3fd79e36cedcc8d422bb?family=Halyard+Display); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, body {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  }

.wbg-green{
  color: #6BAAB7 ;
}
.dot{
  color: red;
  width: 8px;
}
.wbg-green-dark{
  background-color: #ABD2D3;
}
.wbg-dark-green{
  background-color: #5CA2B0 !important;
  
}
.wbg-txt-green{
  color: #5CA2B0 !important;
  
}
.green{
  background-color: #D5F0F0;
}
.wbg-yellow{
  background-color: #CAB575; 
}

.wbg-light-yellow{
  background-color:  #D3C18B;  
}


.azureish-white{
  background:#E1F0F0 !important;
}
.light-gray{
  background-color: #EFF1F3;
}
.gray{
  color: #c3cacc;
}

.btn-color-home{
  color: #6BAAB7 !important;
  background-color: white ;
  border: none; 
  
}
/* propertiesoverview btn-hover */
.hover-contact{
  background-color:white !important;
  color:  #6BAAB7 !important;
}
.hover-btn{
  background-color: #6BAAB7 !important ;
  color:  white ;
}
.hover-contact:hover{
  background-color:#46566D !important;
  color:white !important;
}
.btn-color{
  color:white;
  background-color: #6BAAB7;
  border-color:  #6BAAB7;
 border: none; 
}

.btn-color:hover{
  color: white;
  background-color: black;
  
}
/* home page  */
.btn-hover-slider{
background:whitesmoke;
color:  #6baab7 !important;

}

.btn-hover-slider:hover{
  background: #5CA2B0 !important;
  color: white !important;
}



/* AboutEkaya btn-hover */
.actives{
  background-color: black !important;
  color: white !important;
}

.dark{
  background: black !important;
  color: white !important;
}

.color-footer{
  text-decoration: none;
  color:black ;
  border-color: #6BAAB7 !important; 
}

.color-footer:hover{
  color: white;
  background-color:#6BAAB7 ; 
}

.border-bottom-lite {
  border-bottom:1px solid rgb(142, 140, 140) !important;
}
/* MODREN CONTENT  */
 .middle {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
/* Embrace page content middel */
.middle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -150px;
}


/* triangel right */
#triangle-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 15px solid #E1F0F0;
  border-bottom: 15px solid transparent;
  position: absolute; 
  top: 50%;
  left: 0;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #E1F0F0;
  border-bottom: 15px solid transparent;
  position: absolute; 
  top: 50%;
  right: 0;
}

form .custom-input {

  border-radius: 0;
  border-color: green;
}
/* Home page tab component */
.custom-tabs .nav-link {
  border-bottom: none !important;
  color: #5CA2B0;
  border-top: 0;
}

.custom-tabs .nav-link.active {
  border-bottom: 2px solid #6BAAB7 !important;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.border-bottom-only {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  border-bottom-color: black; 
}
/* HOME PAGE BUTTON COLOR */
.black{
  background-color: black !important;
  color: white !important;
}



/* Embrace tab component */
.custom-tab .nav-link.active {
  background-color: #5CA2B0 !important;
  color: white;
  border: none ;
}





/* carsole home */


.talkbubble {
  /* width: 120px; */
  /* height: 80px; */
  background: #abd2d3;
  position: relative;

  padding: 10px;
}

.talkbubble:before {
  content: "";
  position: absolute;
  left: 100%; /* Changed from right: 100% */
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid #abd2d3; /* Changed from border-right */
  border-bottom: 13px solid transparent;
}
.border-bottom-green {
  border-bottom: 1px solid #5ca2b0 !important;
}
.border-bottom-white {
  border-bottom: 1px solid #ece8e8 !important;
}
.right-arrow {
  color: #5ca2b0 !important;
  cursor: pointer;
}
.left-arrow {
  color: #d1cfcf;
  cursor: pointer;
}
.amora-fluid {
  margin-right: 200px !important;
}
.border-green {
  background: #ffffff 0% 0% no-repeat padding-box !important;
  border: 1px solid #5ca2b0 !important;
  border-radius: 4px !important;
  opacity: 1 !important;

}

.accordion-button.collapsed {
  color: white;
  background: black;
}


.border-green{
  /* border: 1px; */
  border-color: #ABD2D3 !important;
  background-color: #EFF1F3 !important;
}
.border-bottom-grey{
  border-bottom: 1px solid #ced0d2 !important;
}

.border-bottom-dark{
  border-bottom: 2px solid #afb1b1 !important;
}
.green-clr:hover{
  color: #5CA2B0 !important;
}

.img-pos{
  margin-top: -280px;
}



.bg-green {
  background: #abd2d3;
}



/*  */
#triangle-right-1 {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 18px solid #abd2d3;
  border-bottom: 15px solid transparent;
  /* position: absolute;
  top: 44%;
  left:100%; */
}